<h1>Ingrese los datos de su factura</h1>
<form action= "/resultado" method="get">
  <fieldset>
    <label for="name">Rut emisor: </label><br>
    <input type="text" name="rutemisor"><br>
    <label for="name">Rut receptor: </label><br>
    <input type="text" name="rutreceptor"><br>
    <label for="name">Monto de la factura: </label><br>
    <input type="text" name="montofactura"><br>
    <label for="name">Folio de la factura: </label><br>
    <input type="text" name="foliofactura"><br>
    <label for="name">Fecha de vencimiento: </label><br>
    <input type="date" name="fechavencimiento"><br>
  </fieldset>
    <input type="submit">
</form>
