<h1>Cotización de la factura</h1>
<label for="Costo de financiamiento">Costo de financiamiento: </label><br>
<input type="text" name="" value="<%=@costodefinanciamiento%>"><br>
<label for="Giro a recibir">Giro a recibir: </label><br>
<input type="text" name="" value="<%=@girorecibir%>"><br>
<label for="Excedentes">Excedentes: </label><br>
<input type="text" name="" value="<%=@excedentes%>"><br>
<%= link_to "volver", api_path %>
